extends layout

block content
  #wallpaper.wallpaper(data-image='images/austria.webp')
  .content
    aside.side
      picture.picture
        source(type='image/webp' srcset='images/avatar.webp 800w, images/avatar-2x.webp 2x' sizes="(min-width: 800px) 160px, 80vw")
        img#pictureImage.picture-image(src='images/avatar.jpg' alt="Ruben's Portrait" width='320' height='320')
    main.about
      h1.name
        | Hi I'm Rubens
      p.job
        | Full-Stack Developer | Frontend
      hr.hr
      .description
        p
          | I spend my days hacking[programming] in front of a computer figuring out how things work 
          i#smile.fas.fa-smile
      .contact
        a.button(href='mailto:sigfriedcub1990@yandex.com')
          | Get in touch
      ul.social
        li
          a(href='https://twitter.com/sigfriedCub1990' aria-label='twitter')
            i.fab.fa-twitter
        li
          a(href='https://github.com/sigfriedCub1990' aria-label='github')
            i.fab.fa-github
        li
          a(href='https://www.linkedin.com/in/rub%C3%A9n-salvador-garc%C3%ADa-san-juan-ab6735b5/' aria-label='linkedin')
            i.fab.fa-linkedin
        li
          a(href='https://codepen.io/sigfriedCub' aria-label='codepen')
            i.fab.fa-codepen
        li
          a(href='https://sigfried.xyz/blog/')
            i.fas.fa-ghost
  script(src='/js/main.js')
